// Settings


// fonts

$s-font-type-constants: (
    "serif": 2.3333,
    "sans-serif": 2.2513,
    "monospace": 1.67
);

$s-font-size-base: 15px;
$s-font-family-base: monospace;


// layout

$s-measure-small: 10px;
$s-measure-medium: 20px;
$s-measure-large: 50px;


// config

$s-page-width-max: 940px;
